nav{
    background-color:#5A1F76;
      
}
a.nav-link {
    color: white !important;
   
}
.col-form-label{
    padding-bottom: 0px;
}
body {
    margin: 40px 10px;   
    padding-top: 30px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
    text-align: center;
  }
.btn-padrao{
    background-color: #5A1F76;
    color: #fff;
    text-align: center;   
}

.card-table{
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
    padding-top: 40px;
    margin-top: 30px;
}
h5.titulo{  
    padding: 10px 0px 10px 10px;
    margin-bottom: 0px;
    text-align: left;
}
#accordion{
    width: 85%;    
}
.btn-header-form{
    padding: 0px;
}

.card-header{
    padding: 0px;
}
.card-header-manu{
    background-color: transparent;
    border-bottom: 0px;
    text-align: left;
}
.card-manu{
    border: 0px; 
}
table > thead{   
    vertical-align: middle;
    border:0px;
}
table.table-bordered{
    margin: 0px;
}
#calendar {
    max-width: 580px;
    margin: 0 auto;
    float: left;    
    padding-right: 20px;
}
.container{
    padding: 20px;
}

h3{
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
    font-size: 14pt;
    font-weight: 600;
    text-align: center;
}
p.divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
p.divider * {
    flex-shrink: 0;
}
p.divider span.divider {
    width: 50%;
    flex-shrink: 1;
    border-bottom: 1px solid black;
    margin: 5px;    
}

p.divider-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;   
    height: 50%;
    margin: 5px 0px 5px 0px;
    padding-left: 20px;
}
p.divider-form * {
    flex-shrink: 0;
}
p.divider-form span.divider-form {
    width: 90%;
    flex-shrink: 1;
    border: 1px solid rgba(0,0,0,.125);
    margin: 5px;    
}
.form-equip{
    padding: 10px;
}
.form-manu{
    padding: 10px;
}
.form-group{
    margin-bottom: 0px;
}
